data/graphics/*.bin
data/graphics/*.bak
pull-assets-from-rom/bin
pull-assets-from-rom/obj
.vs/
*.smc
*.sfc

# Backup files
*.bak
*.pre_format_backup

# Temporary files
*.temp
~docs/copilot-chats/*.temp
